.navbar {
  display: flex;
  flex-direction: row;
  background-color: #0066a1;
  justify-content: space-between;
  padding: 10px 20px;

  .logo {
    display: flex;
    align-items: center;

    img {
      max-height: 30px;
    }
    .burger {
      display: none;
    }
  }

  .items {
    display: flex;
    .item {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: #ffffff;
      margin-right: 30px;
      padding: 5px 10px;
      transition: all 0.6s;
      outline: none;
      cursor: pointer;

      .title {
        margin-left: 6px;
      }

      &:last-child {
        margin-right: 0px;
      }

      &:hover {
        background-color: #ffffff;
        color: #0066a1;
        box-shadow: 0 0 3px #888888;
        border-radius: 2px;
        outline: none;
      }
    }
    .active {
      background-color: #ffffff;
      color: #0066a1;
      box-shadow: 0 0 3px #888888;
      border-radius: 2px;
      outline: none;
    }
  }
}

.mobile {
  flex-direction: column;
  padding: 10px 10px 10px 5px;
  .logo {
    display: flex;
    justify-content: space-between;
    .burger {
      display: flex;
      color: #ffffff;
      align-items: center;
      .mat-icon {
        font-size: 30px;
        height: 30px;
        width: 30px;
      }
    }
  }

  .items {
    display: none;
    flex-direction: column;
    padding-top: 25px;
    border-top: 1px solid #fff;
    margin-top: 15px;

    .item {
      width: 100%;
      padding: 12px 10px;
      .mat-icon {
        flex: 1;
        display: flex;
        justify-content: flex-end;
      }
      .title {
        flex: 4;
        padding-left: 10px;
      }
    }

    .active {
      color: #ffffff;
      background-color: #0066a1;
      border: none;
      box-shadow: none;
    }
  }

  .active {
    display: flex;
  }
}
