<div class="navbar" [ngClass]="{ mobile: isMobile }">
  <div class="logo">
    <img src="assets/images/atos-logo-white.png" alt="Logo Atos" />
    <div class="burger" (click)="toggle()">
      <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
    </div>
  </div>
  <div class="items" [ngClass]="{'active': isOpen}">
    <div class="item" (click)="toggle()" routerLink="/user/dashboard" routerLinkActive="active" *ngIf="isAuth">
      <mat-icon aria-hidden="false" aria-label="Example home icon">dashboard</mat-icon>
      <div class="title">Dashboard</div>
    </div>
    <div class="item" (click)="toggle()" routerLink="/user/profile" routerLinkActive="active" *ngIf="isAuth">
      <mat-icon aria-hidden="false" aria-label="Example home icon">person</mat-icon>
      <div class="title">Profil</div>
    </div>

    <div class="item" (click)="toggle()" routerLink="/signin" routerLinkActive="active" *ngIf="!isAuth">
      <mat-icon aria-hidden="false" aria-label="Example home icon">vpn_key</mat-icon>
      <div class="title">Se Connecter</div>
    </div>

    <div class="item" (click)="logout()" *ngIf="isAuth">
      <mat-icon aria-hidden="false" aria-label="Example home icon">input</mat-icon>
      <div class="title">Se Déconnecter</div>
    </div>
  </div>
</div>
