:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3px 0;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  .title {
    font-size: 16px;
    padding: 0 5px;
  }
  .logo {
    img {
      width: 18px;
    }
  }
}