
<div class="item">
  <div class="title">Made with Angular</div>
  <div class="logo">
    <img src="assets/images/angular-logo.svg" alt="">
  </div>
</div>

<div class="item">
  <div class="title">and Firebase</div>
  <div class="logo">
    <img src="assets/images/firebase-logo.svg" alt="">
  </div>
</div>
