:host {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 5px;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.profile, .password {
  padding: 10px 30px 30px 30px;
  background-color: #e9e9e9;
  width: fit-content;
  box-shadow: 0 0 3px #aaaaaa;
  width: 600px;

  h2 {
    color: #0066a1;
    font-size: 28px;
    padding-left: 10px;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    .input {
      margin: 20px 0;
    }
    button {
      width: 50%;
      margin: 0 auto;
      margin-top: 20px;
    }
  }
}

.profile {
  margin-bottom: 50px;
}

@media screen and (max-width: 700px) {
  .profile, .password {
    width: 90%;
    margin: 0px auto 30px auto;

    form {
      width: 100%;
      padding: 20px 10px;
    }
  }

  .password {
    margin: 0 auto;
  }
}