:host {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  padding: 30px;
  background-color: #e9e9e9;
  width: fit-content;
  box-shadow: 0 0 3px #aaaaaa;
  width: 600px;

  h1 {
    color: #0066a1;
    font-size: 28px;
    border-left: 4px solid #0066a1;
    padding-left: 10px;
    border-radius: 4px;
  }

  form {
    display: flex;
    flex-direction: column;
    .input {
      margin: 20px 0;
    }
    button {
      width: 50%;
      margin: 0 auto;
      margin-top: 20px;
    }
  }

  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 14px;
    a {
      text-align: center;
      padding: 12px;
      color: #0066a1;
      cursor: pointer;
      &:hover {
        font-weight: bold;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .form {
    width: 90%;
    padding: 20px 10px;

    .links {
      flex-direction: column;
      span {
        display: none;
      }
    }
  }
}
