<!-- Application start here -->
<ng-container *ngIf="!authIsLoaded; else elseTemplate">
  <router-outlet></router-outlet>
</ng-container>
<ng-template #elseTemplate>
  <div class="spinner">
    <mat-spinner color="primary"></mat-spinner>
  </div>
</ng-template>
<!-- Application end here -->
