:host {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 5px;
}

.container {
  margin-bottom: 20px;

  h2 {
    color: #555555;
    margin: 0 0 20px 0;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    width: 1120px;
    margin: 0 auto;
    padding: 10px;
    background-color: #f7f7f7;

    .project,
    .new-project {
      padding: 10px;
      box-shadow: 0 0 3px #aaaaaa;
      display: flex;
      width: 200px;
      height: 100px;
      border-radius: 2px;
      margin: 10px;
      cursor: pointer;
      transition: all 0.6s;
    }

    .project {
      color: #ffffff;
      position: relative;

      .title {
        font-weight: bold;
        max-width: 150px;
      }

      i {
        position: absolute;
        top: 10px;
        right: 10px;
      }

      &:hover {
        opacity: 0.7;
      }
    }

    .new-project {
      background-color: rgba(233, 233, 233, 1);
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: rgba(70, 70, 70, 0.6);
        color: #ffffff;
      }
    }
  }
}


@media screen and (max-width: 500px) {
  .container {
    h2 {
      padding-left: 10px;
    }

    .projects {
      width: 96%;

      .project {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 501px) and (max-width: 1200px) {
  .container {
    width: 100%;
    h2 {
      padding-left: 10px;
      width: 80%;
      margin: 10px auto;
    }

    .projects {
      width: 80%;

      .project, .new-project {
        width: 100%;
      }
    }
  }
}