<ng-container *ngIf="isLoading; else elseTemplate">
  <mat-spinner color="primary"></mat-spinner>
</ng-container>
<ng-template #elseTemplate>
  <div class="container">
    <h2>Tableaux récent</h2>
    <div class="projects">
      <div class="project" *ngFor="let project of recentProjects; let i = index;" [ngStyle]="{ background: project.backgroundColor }" routerLink="/user/project/{{project.id}}">
        <div class="title">{{ project.title }}</div>
        <i class="fas fa-lock" *ngIf="project.isPrivate"></i>
      </div>
    </div>
  </div>
  
  <div class="container">
    <h2>Tableaux personnel</h2>
    <div class="projects">
      <div class="project" *ngFor="let project of personalProjects; let i = index;" [ngStyle]="{ background: project.backgroundColor }" routerLink="/user/project/{{project.id}}">
        <div class="title">{{ project.title }}</div>
        <i class="fas fa-lock" *ngIf="project.isPrivate"></i>
      </div>
      <div class="new-project" (click)="createNewProject()">Nouveau Tableau</div>
    </div>
  </div>

  <div class="container">
    <h2>Vous êtes membre des tableaux</h2>
    <div class="projects">
      <div class="project" *ngFor="let project of teamProjects; let i = index;" [ngStyle]="{ background: project.backgroundColor }" routerLink="/user/project/{{project.id}}">
        <div class="title">{{ project.title }}</div>
        <i class="fas fa-lock" *ngIf="project.isPrivate"></i>
      </div>
    </div>
  </div>
</ng-template>
