<div class="colors">
  <div class="color" *ngFor="let color of colors; let i = index" (click)="choose(i)" [ngStyle]="{ background: color }" [ngClass]="{'selected': selected == i}">
    <mat-icon aria-hidden="false" aria-label="Check" *ngIf="selected == i">done</mat-icon>
  </div>
</div>
