<div class="top">
  <i class="fas fa-cogs"></i>
  <i class="fas fa-tags"></i>
  <i class="fas fa-users"></i>
  <i class="fas fa-archive"></i>
</div>


<div class="bottom">
  <i class="fas fa-trash-alt"></i>
</div>