:host {
  padding: 15px 5px;
  background-color: #f7f7f7;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top,
.bottom {
  display: flex;
  flex-direction: column;

  i {
    color: #0066a1;
    font-size: 24px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    transition: background-color 0.7s;

    &:hover {
      background-color: #0066a1;
      color: #ffffff;
      cursor: pointer;
      border-radius: 3px;
    }
  }
}
