h1 {
  color: #0066a1;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .input {
    margin: 20px 0;
    width: 100%;
  }

  mat-slide-toggle {
    margin: 15px;
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;

    button {

    }
  }
}