<h1>Nouveau tableau</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <mat-form-field class="input">
    <input matInput type="text" formControlName="title" placeholder="Titre" autocomplete="off" />
    <mat-error *ngIf="title.hasError('required') && !title.hasError('minlength')">Le titre est requis.</mat-error>
    <mat-error *ngIf="title.hasError('minlength')">Le titre doit comporter au moins 6 caractères.</mat-error>
    <mat-error *ngIf="title.hasError('maxlength')">Le titre ne peut faire plus de 50 caractères.</mat-error>
  </mat-form-field>

  <mat-form-field class="input">
    <input matInput type="text" formControlName="description" placeholder="Description" autocomplete="off" />
    <mat-error *ngIf="description.hasError('required') && !description.hasError('minlength')">Le titre est requis.</mat-error>
    <mat-error *ngIf="description.hasError('minlength')">Le titre doit comporter au moins 20 caractères.</mat-error>
  </mat-form-field>

  <mat-slide-toggle formControlName="isPrivate" [checked]="isPrivate" color="primary">Tableau privé</mat-slide-toggle>

  <app-color-picker (updated)="selectColor($event)"></app-color-picker>

  <div class="actions">
    <button mat-raised-button color="warn" type="button" (click)="onClose()">Annuler</button>
    <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid">Créer le tableau</button>
  </div>
</form>
